{% extends 'base.html.twig' %}

{% block title %}Modifier le message{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Modifier le message</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-3">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_card_show', {'id': message.card.id}) }}" class="btn btn-secondary mt-3">Retour à la carte</a>
</div>
{% endblock %}
