{% extends 'base.html.twig' %}

{% block body %}
<nav class="account-nav d-flex py-3">
    <ul class="d-flex list-unstyled mx-auto mb-0 text-white">
        <li><a href="{{ path('app_mes_annonces') }}"><i class="bi bi-card-list me-1"></i>Mes annonces</a></li>
        <li><a href="{{ path('app_mes_favoris') }}"> <i class="bi bi-star me-1"></i>Mes favoris</a></li>
        <li><a href="{{ path('app_mon_profil') }}"><i class="bi bi-person me-1"></i>Mon profil</a></li>
    </ul>
</nav>

{% block account_content %}{% endblock %}
{% endblock %}