{% extends 'base.html.twig' %}

{% block title %}Edit Card{% endblock %}
{% block body_class %}bg-gris{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-primary raleway-600 text-center pb-5">Modifier l'annonce</h1>
        <a href="{{ path('app_card_index') }}" class="btn btn-outline-secondary rounded-pill px-4 mb-4">
            <i class="bi bi-arrow-left me-1"></i> Revenir aux annonces
        </a>
        {{ include('card/_form.html.twig', {'button_label': 'Actualiser', 'is_edit': true}) }}

    </div>
{% endblock %}