{% extends 'base.html.twig' %}

{% block title %}Edit Card{% endblock %}
{% block body_class %}bg-gris{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-primary raleway-600 text-center pb-5">Modifier l'annonce</h1>

        {{ include('card/_form.html.twig', {'button_label': 'Actualiser'}) }}

        <a href="{{ path('app_card_index') }}">Revenir aux annonces</a>

        {{ include('card/_delete_form.html.twig') }}
    </div>
{% endblock %}