body {
    background-color: var(--color-bg-beige);
}
/* Temporary message styles */
body .temp {
    position: fixed;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg-beige);
    color: var(--color-text);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

body .temp p {
    font-size: 7rem;
}

body .temp img {
    width: 80vw;
    max-width: 500px;
}
