{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            {# Affichage des erreurs si le lien de vérification d'email a expiré #}
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1 class="h3 mb-3 fw-normal">Inscription</h1>
            
            {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
            
            {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}
                <button type="submit" class="btn btn-lg btn-orange w-100 mt-3">S'inscrire</button>
            {{ form_end(registrationForm) }}
            
        </div>
    </div>
</div>
{% endblock %}