<footer class="py-2 mt-5 w-100">
    <div class="container px-5">
        <div class="d-flex justify-content-around py-3 row g-6">

            <!-- Logo -->
            <div class="col-lg-5 align-items-center">
                <a href="" class="d-flex align-items-center gap-2 text-decoration-none">
                    <img src="{{ asset('images/logo-white.png') }}" alt="HubLim" height="120">
                </a>
            </div>

            <!-- Liens utiles -->
            <div class="col-lg-4">
                <h6 class="fw-bold mb-3 raleway-500">Liens utiles</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1"><a href="" class="text-decoration-none text-white">Accueil</a></li>
                    <li class="mb-1"><a href="" class="text-decoration-none text-white">Toutes les annonces</a></li>
                    <li class="mb-1"><a href="" class="text-decoration-none text-white">Mon espace</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-lg-2">
                <h6 class="fw-bold mb-3 raleway-500">Contact</h6>
                <p class="mb-0 text-white">
                    <a href="mailto:contact@hublim.bradype.fr"><i class="bi bi-envelope me-2"></i>contact@hublim.bradype.fr</a>
                </p>
            </div>

        </div>

        <hr class="my-3 text-white">

        <div class="text-center small">
            <a href="#" class="text-decoration-none me-3 text-white">Politique de Confidentialité</a>
            <span class="text-white">|</span>
            <a href="#" class="text-decoration-none ms-3 text-white">Mentions légales</a>
        </div>

    </div>
</footer>