<nav class="d-flex justify-content-around align-items-center py-3">
    <div>
        <img src="{{ asset('svg/logo_hublim_name.svg') }}" alt="Logo HubLim" style="width: 120px;" />
    </div>

    <ul class="d-flex list-unstyled mb-0">
        <li class="mx-3"><a href="" class="text-decoration-none">Accueil</a></li>
        <li class="mx-3"><a href="" class="text-decoration-none">A propos</a></li>
        <li class="mx-3"><a href="" class="text-decoration-none">Contact</a></li>
    </ul>

    <div>
        <a href="" class="btn btn-primary">Connexion / Inscription</a>
    </div>
</nav>