<nav class="d-flex justify-content-around align-items-center py-3">
    <div>
        <div>
            <a href="{{ path('app_main') }}"><img src="{{ asset('svg/logo_hublim_name.svg') }}" alt="Logo HubLim" style="width: 120px;" /></a>
        </div>
    </div>

    <ul class="d-flex list-unstyled mb-0">
        <li class="mx-5"><a href="#" class="text-decoration-none">Accueil</a></li>
        <li class="mx-5"><a href="#a-propos" class="text-decoration-none">A propos</a></li>
        <li class="mx-5"><a href="mailto:contact@hublim.bradype.fr" class="text-decoration-none">Contact</a></li>
    </ul>

    <div>
        {# Utilisateur connecté → Bouton Déconnexion #}
        {% if app.user %}
            <a href="{{path('app_logout')}}" class="btn btn-orange">Déconnexion</a>
        {# Utilisateur non connecté → Bouton Connexion/inscription #}
        {% else %}
            <a href="{{path('app_login')}}" class="btn btn-orange">Accéder aux cartes</a>
        {% endif %}
    </div>
</nav>