:root {
    --color-text: #094074;
    --color-primary: #094074;
    --color-secondary: #B60017;
    --color-ternary: #6C809A;
    --color-white: #FFFFFF;
    --color-bg-gris: #f9f9f9;

    --bs-primary: var(--color-primary);
    --bs-secondary: var(--color-secondary);
    --bs-primary-rgb: 9, 64, 116;
    --bs-secondary-rgb: 182, 0, 23;
}