:root {
    --color-text: #4b575f;
    --color-primary: #0f7f00;
    --color-secondary: #b51621;
    --color-ternary: #ffbfce;
    --color-bg-white: #111144;
    --color-bg-gris: #f9f9f9;

    --bs-primary: var(--color-primary);
    --bs-secondary: var(--color-secondary);
    --bs-primary-rgb: 34, 51, 130;
    --bs-secondary-rgb: 241, 139, 28;
}
