:root {
    --color-text: #111144;
    --color-primary: #223382;
    --color-secondary: #f18b1c;
    --color-ternary: hsl(223, 44%, 73%);
    --color-bg-white: #111144;
    --color-bg-beige: #F9F9F9;

    --bs-primary: var(--color-primary);
    --bs-secondary: var(--color-secondary);
    --bs-primary-rgb: 34, 51, 130;
    --bs-secondary-rgb: 241, 139, 28; 
}