<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Welcome!{% endblock %}</title>
        <link rel="icon" href="...">

        {% block stylesheets %}
            <!-- Link Swiper's CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
    <header>
        {% block header %}
            {% include 'partials/_header.html.twig' %}
        {% endblock %}
    </header>

    <main class="flex-grow-1">
        {% block body %}{% endblock %}
    </main>

    <footer class="py-3">
        {% block footer %}
            {% include 'partials/_footer.html.twig' %}
        {% endblock %}
    </footer>
</body>
</html>
